[Unit]
Description=Triggers sunrise

[Timer]
OnBootSec=10min

OnCalendar=*-*-* 06:00:00
Unit=stripSunset.service

[Install]
WantedBy=multi-user.target
